@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var content = (ContentModels.TrustStorySection)Model.Content;
}

<section class="trust-story-section">
	<div class="story-background-image">
		@if (content.TrustStoryBackgroundImage != null)
		{
			<img src="@content.TrustStoryBackgroundImage.Url()" />
		}
	</div>

	<div class="story-team-image">
		@if (content.TrustStoryTeamPhoto != null)
		{
			<img src="@content.TrustStoryTeamPhoto.Url()" />
		}
	</div>

	<div class="trust-story-container">
		<h2>@Html.Raw(content.TrustStoryTitle)</h2>
		<div class="trust-story-body">@Html.Raw(content.TrustStoryBody)</div>
		@if (content.TrustStoryLink != null)
		{
			<a href="@content.TrustStoryLink.Url">@content.TrustStoryLink.Name</a>
		}
	</div>
</section>