﻿@using OnatrixUmbraco.ViewModels
@model CallbackFormViewModel
@using (Html.BeginUmbracoForm("HandleCallbackForm", "Form", FormMethod.Post, new { novalidate = "novalidate", id = "callbackForm" }))

{
	<div>
		<div>
			<label asp-for="Name"></label>
			<input asp-for="Name" type="text" placeholder="@Html.DisplayNameFor(x => x.Name)" />
			<span asp-validation-for="Name"></span>
		</div>

		<div>
			<label asp-for="Email"></label>
			<input asp-for="Email" type="text" placeholder="@Html.DisplayNameFor(x => x.Email)" />
			<span asp-validation-for="Email"></span>
		</div>

		<div>
			<label asp-for="Phone"></label>
			<input asp-for="Phone" type="text" placeholder="@Html.DisplayNameFor(x => x.Phone)" />
			<span asp-validation-for="Phone"></span>
		</div>

		<div>
			<label asp-for="SelectedOption"></label>
			<div>
				<select asp-for="SelectedOption">
					<option value="" disabled hidden selected>Please select an option</option>
					@foreach (var option in Model.Options)
					{
						<option value="@option">@option</option>
					}
				</select>

				<span>
					@*Create caret here*@
				</span>
			</div>
		</div>
		<span asp-validation-for="SelectedOption"></span>

		<div>
			<button type="submit">Submit</button>
		</div>
	</div>
}