﻿@using OnatrixUmbraco.ViewModels
@model CallbackFormViewModel
@using (Html.BeginUmbracoForm("HandleCallbackForm", "Form", FormMethod.Post, new { novalidate = "novalidate", id = "callbackForm" }))

{
	<div class="callback-form-content">
		<div>
			<input asp-for="Name" type="text" placeholder="@Html.DisplayNameFor(x => x.Name)" class="form-input"/>
			<span asp-validation-for="Name"></span>
		</div>

		<div>
			<input asp-for="Email" type="text" placeholder="@Html.DisplayNameFor(x => x.Email)" class="form-input" />
			<span asp-validation-for="Email"></span>
		</div>

		<div>
			<input asp-for="Phone" type="text" placeholder="@Html.DisplayNameFor(x => x.Phone)" class="form-input" />
			<span asp-validation-for="Phone"></span>
		</div>

		<div>
			<div>
				<select asp-for="SelectedOption" class="form-input">
					<option value="" disabled hidden selected>Please select an option</option>
					@foreach (var option in Model.Options)
					{
						<option value="@option">@option</option>
					}
				</select>

				@*
				<span>
					Create caret here
				</span>
				*@

			</div>
		</div>
		<span asp-validation-for="SelectedOption"></span>

		<div>
			<button class="form-button" type="submit">Submit</button>
		</div>
	</div>
}